* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    line-height: 1;
    border: 0;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    transition: all 0.5s;
}

li {
    list-style-type: none;
}

summary {
    outline: 0;
}

@media (min-width: 320px) {

    .center {
        padding-left: calc(50% - 140px);
        padding-right: calc(50% - 140px);
    }

    .padding-site {
        padding-left: 6%;
        padding-right: 6%;
    }

    .margin-site {
        margin-left: 6%;
        margin-right: 6%;
    }
}


@media (min-width: 768px) {

    .center {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
    }

    .padding-site {
        padding-left: 5%;
        padding-right: 5%;
    }

    .margin-site {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (min-width: 1440px) {

    .center {
        padding-left: calc(50% - 720px);
        padding-right: calc(50% - 720px);
    }

    .padding-site {
        padding-left: 10%;
        padding-right: 10%;
    }

    .margin-site {
        margin-left: 10%;
        margin-right: 10%;
    }













    

}
